/auto*/
CMakeFiles/
cmake_*
configure
Makefile
Makefile.in
config.h.in
config.h
config.log
config.status
configure.lineno
/libtool
/bayonne-config.h
test/bayonneScript
/baylint
/bayonne
sipw/bayonne-sipw
stamp*
*.obj
*.lib
*.exe
*.mll
*.dll
*.m4
*.a
*.o
*.lo
*.la
*.so.*
*.so
*.authors
*.kdev4
*.deps
*.libs
*.pc
*.spec
*.cbp
*~

