build/
auto*/
CMakeFiles/
cmake_*
configure
Makefile
Makefile.in
config.h.in
config.h
config.log
config.status
configure.lineno
libtool
stamp*
*.m4
*.a
*.o
*.lo
*.la
*.so*
*.authors
*.kdev4
*.deps
*.libs
*.pc
*.spec
*~

