[Unit]
Description=GNU Bayonne, a script driven telephony application service.
After=network.target

[Service]
Type=forking
PIDFile=/var/run/bayonne/pidfile
EnvironmentFile=-/etc/conf.d/bayonne
EnvironmentFile=-/etc/sysconfig/bayonne
EnvironmentFile=-/etc/default/bayonne
ExecStartPre=-/bin/rm -f /var/run/bayonne/control
ExecStart=/usr/sbin/bayonne-daemon ${OPTIONS:--b}
ExecStop=/bin/bash -c 'echo down > /var/run/bayonne/control'
ExecStopPost=sleep 3
Restart=always

[Install]
WantedBy=multi-user.target
